/* player-balance.component.scss */
.player-balance-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
  .player-balance-container h3 {
    margin-bottom: 10px;
  }
  
  .player-balance-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .player-balance-container li {
    margin-bottom: 5px;
  }
  